<div class="card-nav">
  <button mat-button [routerLink]="['/products']"><mat-icon>keyboard_backspace</mat-icon> Back</button>
</div>

<div class="spinner" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
<div  *ngIf="!isLoading">

<div class="card-detail-container" *ngIf="product">
  <div class="card-detail-image">
    <img src="{{product.pictureUrl }}"  mat-card-image class="card-item-image">
    <div class="card-detail-subtext">ID: {{product.id}}</div>
  </div>
  <div class="card-detail-info">
        <div class="card-detail-title">
          <span>{{product.name}}
            <div class="card-detail-price">{{product.price | currency}}</div>
          </span>
          <div class="card-review-rating">
            <div class="avg-rating" id="avg-rating">{{product.rate.toFixed(1)}}</div>
            <div class="card-review-text">AVG RATING</div>
        </div>

        </div>

        <div class="card-detail-subtext">+ Tax (13%)</div>
        <div class="card-view-block">
          <img src="../../../../assets/images/bag.svg" alt="Items Left" >
          <span> Only {{product.quantity}} left!</span>
      </div>
        <div class="card-detail-descr">{{product.description}}</div>
        <div class="card-detail-rating">

        </div>
        <button class="card-item-button"  (click)="addToCart(product)">Add to Cart</button>
  </div>
</div>

</div>
