<div class="formContainer">
  <div class="displayTable">
      <div class="authBlock">
        <img src="../assets/images/vw-logo.png" alt="company Logo" class="company-logo">
        <h3 class="title">Sign Up Today</h3>
        <div class="formGroup">
          <div class="container-warning" *ngIf="isError">
          The password and confirm password should match.
        </div>
        <div class="form-title">Signup Email</div>
          <input type="email" class="input-field" placeholder="email@domain.com" #userEmail required/>
        </div>
        <div class="formGroup">
          <div class="form-title">Password</div>
          <input type="password" class="input-field" placeholder="password..." #userPwd required/>
        </div>
        <div class="formGroup">
          <div class="form-title">Confirm Password</div>
        <input
          type="password"
          class="input-field"
          placeholder="Password"
          #confirmPwd
          required
        />
      </div>
      <div class="formGroup">
          <button mat-raised-button class="btn-new" type="button" value="Sign Up" (click)="onSignUp(userEmail.value, userPwd.value, confirmPwd.value)">Sign Up</button>
        </div>
        <div class="formGroup">
          <span class="or" class="divider"><span class="orInner"> OR </span></span>
        </div>
        <!-- Continue with Google -->
        <div class="formGroup">
          <button
            type="button"
            class="signup-with-google-btn"
            (click)="authService.GoogleAuth()"
          >
            <i class="fab fa-google-plus-g"></i>
            Continue with Google
          </button>
        </div>
      </div>
      <div class="redirectToLogin">
        <span
          >Already have an account?
          <span class="redirect" routerLink="/sign-in">Log In</span></span
        >
      </div>
  </div>
</div>
