
.container-warning{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
}
.formContainer{
    width: 400;
    align-items: center;
    justify-content: center;
    display: flex;

  }
  .formGroup{
    display:contents;
    align-items: center;
  }

  .company-logo{
    height:auto;
    margin: 1rem auto;
    width: auto;
    align-self: center;
  }

  .redirectToLogin{
    text-align: center;
  }

  .divider {
    display: flex;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }
  .input-field{
    padding: .5rem;
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    width: -webkit-fill-available;
  }
  .title{
    font-size: 1.5rem;
    font-family: 'VW Head Bold';
    margin: 1rem 0;
    text-align: center;
  }
  .btn-signup{
    color: #FFF;
    background-color: #191545;
    padding: 2px;
    display: block;
    margin: 1rem 0;
    font-family: 'VW Head Bold';
    width: 100%;
    border: 1px solid #191545;
  }
  .signup-with-google-btn {
    margin: 1rem auto;

    transition: background-color .3s, box-shadow .3s;

    padding: 12px 16px 12px 42px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);

    color: #757575;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;

    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;
    cursor: pointer;
    border: 1px solid #191545;
  }

  .authBlock{
    align-items: center;
    justify-content: center;
    display: contents;
  }

  .displayTable{
    width: 50%;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: normal;
    margin-top: 0;
  }
  .form-title{
    margin: .5rem 0;
  }

  /* To show the lines on right
and left sides of the text */
.divider::after,
.divider::before {
  content: "";
  border: 1px solid #191545;
  flex: 1;
}

.divider:not(:empty)::before {
    margin-right: 0.25em;
  }

  .divider:not(:empty)::after {
    margin-left: 0.25em;
  }

