<div class="container">
  <div class="col-left">
      <div class="login-container">
        <img src="../assets/images/vw-logo.png" alt="company Logo" class="company-logo">
        <div class="title">Sign-in your Account</div>
        <div class="form-title">Email</div>
        <input class="input-field" type="text" placeholder="email@domain.com" #userName required>
        <div class="form-title">Password</div>
        <input class="input-field" type="password" placeholder="password..." #userPassword required>

        <button mat-raised-button class="btn-login" (click)="authService.SignIn(userName.value, userPassword.value)">Login</button>
        <div class="divider">OR</div>
        <button type="button" class="login-with-google-btn" (click)="authService.GoogleAuth()">
          Sign in with Google
        </button>
      </div>


  </div>
  <div class="col">
    <div class="signup-container">
      <img src="../../../assets/images/vw-banner.jpg" class="banner"/>
      <div class="title">New Customers</div>
      <div class="form-title" >Creating an account has many benefits: check out faster, keep more than one address, track orders and more.</div>
      <button mat-raised-button class="btn-new" routerLink="/register-user">Create An Account</button>

    </div>
  </div>
</div>
