

.card-item {
  border: 1px solid #e3e3e3;
  margin: .5rem;
  border-radius: .5rem;
  padding: 0 .5rem 1rem  .5rem;
  height: 25.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;

}
.card-item:hover{
  cursor:pointer;
  color: #191545;
  box-shadow: rgba(0, 0, 0, 0.1) 0 .5rem 1rem;
}


.card-item-image{
  width: 55%;
  height: auto;
  margin: 0 auto;
  display:block;
  min-height: 190px;
}
.card-item-title{
  font-size: 1rem;
  padding: 1rem .5rem .5rem .5rem;
  text-align:center;
  display:block;
  border-top: 1px solid #e3e3e3;
  font-family: 'VW Head Bold';
  font-weight: 500;
}
.card-item-sub{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: .5rem;
  height: 50px;

}
.card-item-price{
  font-size: 1rem;
  font-weight: 500;
  font-family:'VW Head Bold';
  color:#6091C3;
  text-align: center;
}
.card-item-shipping-cost{
  vertical-align: middle;
  font-family:'VW Head Bold';
  color: #fe4e13;
  margin-left: .5rem;
}
.card-item-button{
  display: block;
  width:100%;
  background-color: #191545;
  color: #FFFFFF;
  padding: .75rem;
  border: 0;
  font-family:'VW Head Bold';
  font-weight: bold;
  font-size: 1.1rem;
  cursor:pointer;
  margin-top: 1rem;
  border-radius: 5px;
  border: 1px solid #191545;
}

.card-item-view{
  display: block;
  width:100%;
  background-color: #fff;
  color: #191919;
  padding: .75rem;
  border: 0;
  font-family:'VW Head Bold';
  font-weight: bold;
  font-size: 1.1rem;
  cursor:pointer;
  margin-top: .5rem;
  border-radius: 5px;
  border: 1px solid #191545;
}
.card-item-view:hover{
  display: block;
  width:100%;
  background-color: #6091C3;
  color: #FFFFFF;
  padding: .75rem;
  border: 0;
  font-family:'VW Head Bold';
  font-weight: bold;
  font-size: 1.1rem;
  cursor:pointer;
  margin-top: .5rem;
  border-radius: 5px;
  border: 1px solid #6091C3;

}
.card-item-button:hover{
  display: block;
  width:100%;
  background-color: #6091C3;
  color: #FFFFFF;
  padding: .75rem;
  border: 0;
  font-family:'VW Head Bold';
  font-weight: bold;
  font-size: 1.1rem;
  cursor:pointer;
  margin-top: 1rem;
  border-radius: 5px;
  border: 1px solid #6091C3;
}

.card-view-block {
  font-size: 1rem;
  padding: 1rem;
  color: #b90404;
}

@media (min-width: 600px) {

}
