@font-face {
  font-family: 'VW Head Bold';
  font-style: normal;
  font-weight: normal;
  src: local('VW Head Bold'), url('../assets/fonts/VWHeadBold.woff') format('woff');
  }
@font-face {
    font-family: 'VW Head Regular';
    font-style: normal;
    font-weight: normal;
    src: local('VW Head Regular'), url('../assets/fonts/VWHeadRegular.woff') format('woff');
    }

.spacer {
  flex: 1 1 auto;
}
.logo{
  margin-top: 1rem;
  width:100%;
  height: 36px;
}
.menu{
  background-color:#191545 !important;
  color:  #fdfaf9;
  padding: .25rem .5rem;
  border-radius: 5px;
  margin-right: 1rem;
}
.cart{
  margin:  1rem;
  display: flex;
  align-items: center;
  font-family: 'VW Head Regular' !important;
}
.topbar{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: 'VW Head Regular';
  margin: 0rem;
  color: #6091C3 !important;
  background-color: #191545 !important;
  width: 100%;
  z-index: 2;
}
.company-logo{
  width: 2rem;
  height: 2rem;
  vertical-align: middle;

}
.spacer{
  flex-grow:1;
}

.company{
  margin-left: .4rem;
  font-size: 1rem;
  color: #FFFFFF;
  font-family: 'VW Head Bold';
  font-size: 1.2rem;
}
/* Material UI Styles */
mat-toolbar-row, .mat-toolbar-single-row {
  justify-content: space-around !important;
  color:  #191545 !important;
  background-color: #fff !important;
  font-family: 'VW Head Bold';
  font-size: 1rem;

}
.cad{
  color:#fff;
  vertical-align: middle;
  font-size: 1rem;
  margin-left: .5rem;
  margin-top: .5rem;
}
.image-currency{
  vertical-align: middle;
  margin-top:.5rem;
  width: auto;
  height:1rem;
}
.container{
  margin: 8rem .5rem;
}
.cart-label{
  display:none;
}
.spinner{
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 15rem auto;
}
mat-toolbar{
  background-color: #fdfaf9 !important;
  border-bottom: 1px solid #e3e3e3;
  width: 100%;
  top:0;
  position: fixed;
  margin-left: -.5rem;
  height: 7rem;
  z-index: 1;
}
@media (min-width: 600px) {
  mat-toolbar-row, .mat-toolbar-single-row {
    padding: 0 20% !important;
  }
  .container{
    margin: 8rem 20%;

  }
  .topbar{
    padding:0 25%;

  }
  .cart-label{
    display:inline-block;

  }
  .logo{
    margin-top: 1rem;
    width:100%;
    height: 46px;
  }
}

